a
	cursor pointer

main
	label:first-of-type
		color #666
		font-weight normal
		diplay inline-block
		width 200px
	input[type=radio] 
		& + label
			font-weight normal
			color #666
		&:checked + label
			color #000

input[disabled]
	background-color #ddd

.panel
	p
		color #888
		display inline-block
		margin-left 12px
