main
	padding-left 20px
	padding-right 20px

a
	cursor pointer

/* bootstrap: .btn.btn-default */
button 
	-moz-user-select none
	border 1px solid transparent
	border-radius 4px
	cursor pointer
	display inline-block
	font-size 14px
	font-weight 400
	line-height 1.42857
	margin-bottom 0
	padding 6px 12px
	text-align center
	vertical-align middle
	white-space nowrap

	color #333
	background-color #fff
	border-color #ccc

	&[disabled]
		cursor default
		background-color #ddd
		color #888

.login-dropdown-list-item div.login-sub-component
	padding 10px
	& > input
		padding 0 10px 0 10px
		margin-bottom 10px

.hire-login
	& > .login-status
		color #777
		margin-right 8px

.edit-form 
	width 50%
	display inline-block
	float left
	.panel-heading > h3
		white-space nowrap;
		overflow hidden;
		text-overflow ellipsis;
		line-height normal;
		width calc(100% - 210px);
		padding-top 8px;
	.list-group
		max-height 650px
		overflow-y auto

.hire-faceted-search
	width 50%
	display inline-block

#request-log
	display none