a
	cursor pointer

label:first-of-type
	color #666
	font-weight normal
	diplay inline-block
	width 200px

input.input-property
	position relative
	top 1px
	height 33px
	border-radius 4px
	padding-left 6px
	&[disabled]
		background-color #ddd
th
	a
		color black
		&:hover
			text-decoration none
		&.glyphicon-ok-sign
			cursor default
			color black
	&.ignored
		opacity .2
		background-color #a88

td.ignored
	opacity .2

.site-wrapper > div {
	margin-top: 3em
}

/* for storybook */
body > div#root {
	height: 100%
}
